PORT=5001
NODE_ENV=development
mongodb_uri=mongodb://127.0.0.1:27017/doctor-booking-new
JWT_SECRET=your-secret-key-here
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
AUTO_APPROVE_DOCTORS=false
SWAGGER_USER=admin
SWAGGER_PASSWORD=admin123
swagger_host_url=localhost:5001
app_version=1.0.0
